* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header, footer {
    background-color: #000000;
    color: white;
}

.primary-nav {
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 30px;
}

.footer-nav {
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 30px;
    width: 100%;
    z-index: 1000;
}

.primary-nav li, .footer-nav li {
    display: inline-block;
    margin: 0 10px;
}

.primary-nav a, .footer-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

main {
    display: block;
}

.side-nav {
    width: 20%;
    background-color: #2c2727;
    padding: 20px;
    float: right;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.side-nav a {
    color: #fff;
    text-decoration: none;
}

#main-content {
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 24px;
}